div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj441 {
position: absolute;
overflow: hidden;
top: -4px;
left: 0px;
width: 382px;
height: 677px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

}
div#obj247 {
position: absolute;
overflow: hidden;
top: -11px;
left: -3px;
width: 385px;
height: 679px;
opacity: 0.2;
z-index: 2;
display:block;
pointer-events: none;

}
img#obj247_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 385px;
	height: 679px;
}

div#obj249 {
position: absolute;
overflow-x: hidden;
overflow-y: overlay;
-webkit-overflow-scrolling: touch;
top: 264px;
left: 74px;
width: 228px;
height: 106px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
font-family: "Didot";
font-size: 26px;
color: #FFFFFF;
text-align: justify;
}
div#obj249_content {
}
div#obj252 {
position: absolute;
overflow-x: hidden;
overflow-y: overlay;
-webkit-overflow-scrolling: touch;
top: 199px;
left: 46px;
width: 287px;
height: 380px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
padding: 5px;
font-family: "Didot";
font-size: 26px;
color: #FFFFFF;
text-align: justify;
}
div#obj252_content {
}



div#obj243 {
position: absolute;
overflow: hidden;
top: -14px;
left: -3px;
width: 382px;
height: 692px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #000000;
background-repeat: repeat;
}
#obj245 {
position: absolute;
overflow: hidden;
top: 202px;
left: -3px;
width: 382px;
height: 267px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: auto;

background-color: #000000;
}







body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
