div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj764 {
position: absolute;
overflow: hidden;
top: 50px;
left: -152px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: none;

}
div#obj587 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 667px;
height: 375px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj587_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 667px;
	height: 375px;
}
div#obj762 {
position: absolute;
overflow: hidden;
top: -10px;
left: -18px;
width: 702px;
height: 397px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

}
img#obj762_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 702px;
	height: 397px;
}
div#obj759 {
position: absolute;
overflow: hidden;
top: 0px;
left: -17px;
width: 705px;
height: 394px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

}
img#obj759_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 705px;
	height: 394px;
}














body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
div#SCNavigationRight {
    display: none;}
div#SCNavigationLeft {
    display: none;}
}
div.contentholder {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}
iframe.wTopic {
  width: 99% !important;
  height: 99% !important;
}
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
