div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj452 {
position: absolute;
overflow: hidden;
top: -8px;
left: -9px;
width: 396px;
height: 686px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

}
div#obj281 {
position: absolute;
overflow: hidden;
top: 411px;
left: 34px;
width: 311px;
height: 257px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

}
img#obj281_img {
	position: absolute;
	left: -1px;
	top: 0px;
	width: 312px;
	height: 257px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj287 {
position: absolute;
overflow: hidden;
top: -32px;
left: -14px;
width: 408px;
height: 772px;
opacity: 0.2;
z-index: 4;
display:block;
pointer-events: none;

}
img#obj287_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 408px;
	height: 772px;
}

div#obj283 {
position: absolute;
overflow: hidden;
top: 128px;
left: 49px;
width: 280px;
height: 180px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
padding: 20px;
font-family: "Source-Sans-Pro";
font-size: 26px;
color: #FFFFFF;
text-align: center;
text-shadow: 2px 2px 2px rgba(0,0,0,0.6078431);
}
div#obj283_content {
}
div#obj289 {
position: absolute;
overflow: hidden;
top: 127px;
left: 45px;
width: 287px;
height: 430px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
padding: 5px;
font-family: 'trebuchet ms', geneva;
font-size: 26px;
color: #FFFFFF;
text-align: justify;
}
div#obj289_content {
}



div#obj266 {
position: absolute;
overflow: hidden;
top: -31px;
left: -14px;
width: 408px;
height: 765px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #2B2C2B;
background-repeat: repeat;
}
div#obj285 {
position: absolute;
overflow: hidden;
top: -14px;
left: -3px;
width: 382px;
height: 692px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #000000;
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
